.footer {
  background-color: #2d2d2d;
  color: #b0babf;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-top: 30px;
}

.company-info {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 60px;
}

.company-info h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
}

.company-info p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 400px;
  color: #b0babf;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 60px;
}

.link-column {
  min-width: 150px;
  margin: 0 15px 20px;
}

.link-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.link-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-column li {
  margin-bottom: 10px;
}

.link-column a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.link-column a:hover {
  color: #000;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 20px 60px 0;
  padding-top: 20px;
  font-size: 14px;
}

.copyright {
  margin-bottom: 10px;
}

.legal-links {
  display: flex;
  flex-wrap: wrap;
}

.legal-links a {
  color: #555;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

.legal-links a:hover {
  color: #000;
}

.social-media {
  display: flex;
  gap: 30px;
}

.social-media-icons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .legal-links {
    margin-top: 10px;
  }

  .legal-links a {
    margin-left: 0;
    margin-right: 15px;
  }
}
